  header {
    max-width: 100%;
  }

  #hero-image img {
    max-width: 100%;
  }

  #profile img {
    max-width: 90%;
  }

  #projects img {
    max-width: 90%;
  }

  #qualifications {
    max-width: 90%;
  }

  .skills {
    float: left;
  }

  .tools {
    float: right;
  }

  .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
  background-color: #efefef;
  text-align: center;
}

  .main-nav li {
  margin-right: .5em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

  @media only screen and (min-width: 640px) {
    .main-nav {
      padding: .5em;
    }

    .main-nav ul {
      display: block;
    }

    .main-nav ul li {
      display: inline;
      border-bottom: none;
    }

  }
