/*#slider {
  width: 1000px;
  height: 400px;
  overflow: hidden;
}

#slider .slides {
  display: block;
  width: 6000px;
  height: 400px;
  margin: 0;
  padding: 0;
}

#slider .slide {
  float: left;
  list-style-type: none;
  width: 1000px;
  height: 400px;
}*/

Img, embed, object, video {
	max-width: 100%;
}

.slider-container {
  max-width: 100%;
  /*margin: 40px auto;*/
  overflow: auto;
}

.slider-inner {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  float: left;
  /*padding: 3px;*/
}

.slider-inner img {
  display: none;
  width: 100%;
  height: 400px;
}

.slider-inner img.active {
  display: inline-block;
}

.prev, .next {
  float: left;
  margin-top: 130px;
  cursor: pointer;
}

.prev {
  position: absolute;
  margin-right: -45px;
  z-index: 100;
}

.next {
  position: absolute;
  margin-left: -55px;
  z-index: 100;
}
