* {
  outline: 1px dashed orange;
}

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: gray;
  color: #f9f9f9;
  padding-top: 20px;
  min-height: 50px;
  border-bottom: black 5px solid;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0px 20px;
}

header #branding {
  float: left;
}

header nav {
  float: right;
}

header .current a {
  color: red;
  font-weight: bold;
}

header a:hover {
  color: black;
  font-weight: bold;
}

#showcase {
  min-height: 400px;
}

#projects {
  margin-top: 20px;
}

#projects .project {
  /*display: flex;*/
  float: left;
  /*align-items: center;*/
  text-align: center;
  /*justify-content: center;*/
  width: 30%;
  /*padding 5px;*/
}

#projects .project img {
  width: 90px;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

#profiles {
  margin-top: 20px;
}

#profiles .profile1 {
  float: left;
  text-align: center;
  width: 50%;
  padding: 10px;
}

#profiles .profile img {
  width: 150px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: gray;
  background-color: black;
  text-align: center;
}

@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 10px;
  }

}

#showcase img {
  width: 100%;
}
