* {
  outline: 1px dashed orange;
}

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
}

header {
  max-width: 100%;
}

header {
  background: gray;
  color: #f9f9f9;
  padding-top: 20px;
  min-height: 50px;
  border-bottom: black 5px solid;
}

header a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4em;
  letter-spacing: .1em;
}

header li {
  float: left;
  display: inline;
  padding: 0px 30px;
}

header #branding {
  float: left;
  font-size: 1.5em;
  letter-spacing: .15em;
  padding-left: 20px;
}

header nav {
  float: right;
}

header a:hover {
  color: black;
  font-weight: bold;
}
