  .container {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .slide {
    max-width: 100%;
  }

  .main-nav li {
    margin-right: .5em;
    font-size: 1.5em;
    padding: .5em .2em;
    border-bottom: 1px solid #ccc;
  }

  @media only screen and (max-width: 768px) {
    header #branding, header nav, header nav li {
      float: none;
      text-align: center;
      width: 100%;
    }
    header {
      padding-bottom: 15px;
    }
    #showcase {
      margin-bottom: -40px;
    }
    #projects .project img {
      margin-top: 100px;
      width: 300px;
    }
    #projects .project {
      float: none;
      text-align: center;
      width: 100%;
    }
    #profiles .profile {
      float: none;
      text-align: center;
      width: 100%;
      margin: 50px 0px;
    }
  }

  @media only screen and (max-width: 375px) {
    #showcase {
      margin-top: 50px;
      margin-bottom: -50px;
    }
  }
