.slider-inner {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  float: left;
  margin-bottom: 30px;
}

.slider-inner img {
  display: none;
  width: 100%;
  height: auto;
}

.slider-inner img.active {
  display: inline-block;
}

.prev, .next {
  float: left;
  margin-top: 200px;
  cursor: pointer;
}

.prev {
  position: absolute;
  margin-right: -45px;
  z-index: 100;
}

.next {
  position: absolute;
  margin-left: -55px;
  z-index: 100;
}
